* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    margin: 0px;
    padding: 0px;
}

.big-card {
    width: 334px;
    height: 452px;
    font-size: 26px;
}

.medium-card,
.card-back {
    width: 185px;
    height: 251px;
    font-size: 14px;
}

.small-card {
    width: 85px;
    height: 114px;
    font-size: 8px;
}

.background {
    display: flex;
    flex-direction: row;
}

.card-window {
    background-color: yellow;
    width: 25%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.enemies-health,
.players-health {
    width: 100%;
    height: 50px;
    background-color: #0f3943;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 10px;
}

.phases-window {
    width: 3%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.draw-phase,
.main-phase,
.battle-phase,
.end-phase {
    background-color: #0f4a55;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battle-window {
    background-color: coral;
    min-width: 72%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.enemies-hand {
    width: 100%;
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.picture {
    width: 100%;
    height: 100%;
}

.players-hand {
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.card-back:hover {
    translate: 0px 30px;
}

.medium-card:hover {
    translate: 0px -30px;
}

.table-background {
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
}

.deck-and-grave {
    width: 100px;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.enemies-deck,
.grave,
.player-deck {
    background-color: burlywood;
}

.table-all {
    background-color: crimson;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.enemies-table,
.player-table {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid gray;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.spell-table,
.monster-table {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid gray;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    padding: 0.5%;
}

.spell-table {
    background-color: darkmagenta;
}

.monster-table {
    background-color: darkolivegreen;
}

.card-place {
    background-color: antiquewhite;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.card-points {
    display: flex;
    flex-direction: row;
}

.rotating-card:hover {
    transform: rotate(-90deg);
}