* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
app-card{
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://localhost:7250/Resources/Images/wood.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-size: 200px 200px;
    /* filter: blur(1.5rem); */
}
p {
    margin: 0px;
    padding: 0px;
}

.big-card {
    width: 100%;
    height: 65%;
    font-size: 26px;
    /* -webkit-text-stroke: 0.5px black; */
}

.medium-card,
.card-back ,
.card-in-hand{
    width: 16%;
    height: 251px;
    font-size: 14px;
   
}
.card-in-hand,
.card-back{
    background-image: url("https://localhost:7250/Resources/Images/card-back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-in-hand:hover{
    translate: 0px 50px;
    z-index: 1;

}

.small-card {
    width: 70px;
    height: 100px;
    font-size: 6px;
}

.background {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

.card-window {
    width: 24%;
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #956E4A;
}

.enemies-health,
.players-health {
    width: 100%;
    height: 8%;
    display: flex;    justify-content: center;
    align-items: center;
    border: 1px solid rgb(41, 20, 0);
    border-radius: 10px;
    background: linear-gradient(#4C3825 0%, #463321 50%, #4C3825 100%);
}

.phases-window {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4C3825;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-left: 2px solid #131313;
    border-right: 2px solid #141414;
    /* background-image: url("https://localhost:7250/Resources/Images/health-bar.jpg"); */
    background-size: 100% 50px;

}

.draw-phase,
.main-phase,
.battle-phase,
.end-phase {
    background-color: #956e4a;
    width: 100%;
    height: 100px;
    border: 1px solid #36281a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(#956e4a 0%, #533d28 50%, #956e4a 100%); */
}

.battle-window {
    min-width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
}



.picture {
    width: 100%;
    height: 100%;
}
.enemies-hand {
    height: 40px;
    align-items: flex-end;
}
.players-hand {
    height: 100px;
}
.enemies-hand,
.players-hand{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url("https://localhost:7250/Resources/Images/wood.jpg"); */
    background-position: center;
    background-size: contain;
}




.medium-card:hover {
    translate: 0px -30px;
}

.table-background {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
}

.deck-and-grave {
    width: 100px;
    position: relative;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.graveBG{
    background-image: url("https://localhost:7250/Resources/Images/treestump.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

/* .enemies-deck
{
    background-color: red;
    position: relative;
    transition: 0.5s;

}
.enemies-deck::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 15px;
    background: yellow;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
} */
/* .enemies-deck::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 50%;
    top: -15px;
    left: -15px;
    background: yellow;
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
} */

.table-all {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.player-table,.enemies-table{
    height: 50%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    background-color: rgba(108, 104, 102, 0.651);
    justify-content: stretch;
    align-items: stretch;
    margin: 4px;
    border:2px solid black
}
.enemies-table{
    transform:scale(1,-1);
}

.card-place{
    /* margin: 1%; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 121px;

    /* background-image: url("https://localhost:7250/Resources/Images/texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    

    
}

.spell-table,
.monster-table {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    padding: 0.5%;
}

.spell-table {
    /* background-color: #3b4f4e ; */
}

.monster-table {
    /* background-color: #3b4f4e; */
}

.card-place-spell, .card-place-monster {
    /* background-color: antiquewhite; */
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.3%;
    margin-right: 0.3%;
    background-image: repeating-linear-gradient(36deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 1px, transparent 0px, transparent 2px);
}

.card-place-spell {
    /* background-color: #7ea7c1; */
}

.card-place-monster {
    /* background-color: #f0ab7e; */
    /* background-color: #e0c269; */
}

.card-points {
    display: flex;
    flex-direction: row;
}

.small-card:hover {
    transform: rotate(-90deg);
}

.deck{
    width: 70px;
    height: 110px; 
}
.card-summoning{
    position: absolute;
    right: calc(50% - 200px);
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    bottom: calc(50% - 200px);
    width: 400px; 
    height:400px; 
    /* background-color: brown; */
}