
<body>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
    <app-loadinscreen [loadingType]="loadingType"  *ngIf="isLoadingOver===false" (onTimerOverTask)="getTimer($event)"></app-loadinscreen>
    <div class="main-container"  *ngIf="isLoadingOver===true">
        <!-- <p>it works</p> -->
        <header class="topBorder"></header>
        <div class="game-container">
        
            <div class="enemies-options border-gray-900">
                <div class="options">
                    <div *ngFor="let option of enemiesOptions" class="rpsoption">
                        <div class="rps{{option.name}} rps{{option.choosen}}" style="cursor:auto; transform: rotate(180deg) scaleX(-1);">
    
                        </div>
                    </div>
                </div>
                <div class="message-container">
                    <div class="message"><h1>{{message}}</h1></div>
                </div>
            </div>
         
            <div  class="players-options border-gray-900">
                <div *ngFor="let option of options" class="rpsoption">
                    <div class="rps{{option.name}} rps{{option.choosen}}"  (click)="chooseRPSMove(option.name)">

                    </div>
                </div>
            </div>
        </div>
        <div class="botBorder" >
            <!-- <div  class="round-time-bar" data-style="smooth" style="--duration: {{cssTimer}}">
                <div></div>
            </div> -->
            <div  class="timer" style="--width:{{loadingBar}}">
                <div></div>
            </div>
        </div>
    </div>
</body>