
<body>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
    <app-loadinscreen [loadingType]="loadingType"  *ngIf="isLoadingOver===false" (onTimerOverTask)="getTimer($event)"></app-loadinscreen>
    <div class="main-container"  *ngIf="isLoadingOver===true">
        <!-- <p>it works</p> -->
        <div class="topBorder"></div>
        <div class="game-container">
            
              
            <div class="message-container font-bold bg-yellow-500 text-gray-900 border-round border-3 border-gray-900 m-2 px-5 py-3">
                Choose your hand
            </div>
            <div class="enemies-options border-gray-900">{{progressValue}}</div>
        
            <div class="players-options border-gray-900">
                <div class="rpsoption"></div>
                <div class="rpsoption"></div>
                <div class="rpsoption"></div>
            </div>
        </div>
        <div class="botBorder">
            <div class="round-time-bar" data-style="smooth" style="--duration: 15;">
                <div></div>
              </div>
        </div>
    </div>
</body>