<div class="onlineusersContainer">
    <div class="pom">
        <div class="gamerequests" *ngFor="let c of gameRequests">
            <div class="gamerequest">
                <div class="gamerequest-user">
                    <p>{{c.user1.userName}}</p>
                </div>
                <div class="gamerequest-actions">
                    <i class="pi pi-check" style="margin-right: 4px" (click)="acceptGameRequest(c.id)"></i>
                    <i class="pi pi-times" style="margin-left: 4px" (click)="denyGameRequest(c.id)"></i>
                </div>
            </div>
        </div>
        <div class="message" *ngIf='usersOnline.length===0'>
            <h1>All users are offline</h1>
        </div>
        <div class="user" *ngFor="let onlineuser of usersOnline">
            <div class="avatar">
                <h1>{{onlineuser.name[0]}}{{onlineuser.surName[0]}}</h1>
            </div>
            <div class="username">
                <h3>{{onlineuser.userName}}</h3>
            </div>
            <button class="dugme" (click)="challangePlayer(userID, onlineuser.id)">Challange</button>
        </div>
    </div>
</div>