<body>
    <div class="news-container">
        <div class="photo-container"></div>
        <div class="news">
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h2>online users</h2>
        </div>
        <div class="header-text" *ngIf="usersOnline.length<1">
            <h2>no active users...</h2>
        </div>
        <div class="online-users" *ngFor="let onlineuser of usersOnline">
            <div class="user">
                <div class="avatar-border">
                    <div class="avatar">
                        <h1 style="color: #4b3464;">{{onlineuser.name[0]}}{{onlineuser.surName[0]}}</h1>
                    </div>
                </div>
                <div class="username">
                    <h2>{{onlineuser.userName}}</h2>
                </div>
                <div class="chalange-player" *ngIf="onlineuser.status==undefined" (click)="challangePlayer(userID, onlineuser.id)"></div>
                <div class="game-request-sent" *ngIf="onlineuser.status==0"></div>
                <div class="game-request-actions" *ngIf="onlineuser.lobbyID!=undefined && onlineuser.status==1" >
                    <div class="game-request-accept" (click)="acceptGameRequest(onlineuser.lobbyID)"></div>
                    <div class="game-request-deny" (click)="denyGameRequest(onlineuser.lobbyID)"></div>
                </div>
            </div>
        </div>
    </div>
</body>