/* p,
h1,
h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.onlineusersContainer {
    display: flex;
    justify-content: end;
    height: calc(100vh - 65px);
}

.pom {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height: 100vh;
    overflow: hidden;
    border: 2px solid grey;
    padding: 10px;

}

.user {
    margin: 10px;
    width: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
}

.avatar {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 100%, #24C6DC 100%);
    justify-content: center;
    align-items: center;
}

.username {
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 100%, #24C6DC 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px solid black;
}

.message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(187, 187, 187);
}

.gamerequests {
    padding: 2px;
    width: 100%;
}

.gamerequest {
    background-color: rgb(59, 130, 246);
    color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamerequest-actions {
    display: flex;
    align-self: flex-end;
}

.dugme {
    cursor: pointer;
}

.pi-check,
.pi-times {
    cursor: pointer;
}
 */

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.chalange-player,
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

body {
  height: 100vh;
  background-image: url("https://localhost:7250/Resources/Images/b23.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  background-position: center;
  justify-content: flex-end;
}


.container {
  min-width: 300px;
  margin-top: 70px;
  border-top: 2px solid rgb(180, 134, 100, 0.2);
  /* background: linear-gradient(360deg,#192b30 0%, rgba(255, 255, 255, 0) 50%, #162428 100% ); */
  /* background-color: #101618; */
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  /* position: relative; */
}

.header {
  color: #d2ccd8;;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.header-text{
  color: #d2ccd8;;
  margin: 5%;
  margin-top: 60%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
}

.online-users {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.user {
  color: white;
  height: 70px;
  width: 100%;
  /* background-color: #bad4dc; */
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius: 5px;
  /* border: 2px solid #0a1113; */
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar-border {
  height: 100%;
  aspect-ratio: 1/1;
  border: 2px solid #ecf0f1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a1113;
  padding: 1%;
}

.avatar {
  color: white;
  height: 100%;
  aspect-ratio: 1/1;
  /* border: 2px solid #0a1113; */
  background-color: #9588a5;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a1113;
}

.username {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.chalange-player {
  height: 60%;
  aspect-ratio: 1/1;
  background-image: url("https://localhost:7250/Resources/Images/swords.png");
  cursor: pointer;
}

.game-request-sent {
  height: 55%;
  aspect-ratio: 1/1;
  background-image: url("https://localhost:7250/Resources/Images/sandglass.png");
  background-size: 100% 100%;
}

.news-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.news {
  height: 30%;
  width: 100%;
  margin-bottom: 1%;
  /* background-color:red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div {
  height: 100%;
  width: 200px;
  margin: 0px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  /* background-color: yellow; */
  background-image: url("https://localhost:7250/Resources/Images/wizard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: #0a1113 solid 5px; */

}

.game-request-actions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.game-request-accept {
  height: 60%;
  aspect-ratio: 1/1;
  background-size: 100% 100%;
  background-image: url("https://localhost:7250/Resources/Images/checkmark.png");
  cursor: pointer;
}

.game-request-deny {
  height: 60%;
  aspect-ratio: 1/1;
  background-size: 100% 100%;
  background-image: url("https://localhost:7250/Resources/Images/cancel.png");
  cursor: pointer;
}