<!-- <input type="text" name="massage" [(ngModel)]="message"/>
<button (click)="echo()">echo</button>
<p *ngFor="let m of messages">{{m}}</p> -->
<div class="onlineusersContainer">
    <div class="pom">
    <div class="message" *ngIf='usersOnline.length===0'>
        <h1 >All users are offline</h1>
    </div>
    <div  class="user"*ngFor="let onlineuser of usersOnline">
        <div class="avatar">
            <h1>{{onlineuser.name[0]}}{{onlineuser.surName[0]}}</h1>
        </div>
        <div class="username">
            <h3>{{onlineuser.userName}}</h3>
        </div>
        <button (click)="ChallangePlayer(userID,onlineuser.id)">Challange</button>
    </div>
    </div>
</div>
<!-- <div *ngFor="let c of dictionary"><p>{{c.key}} {{c.code[0].userName}}</p></div> -->
