/* p,
h1,
h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.onlineusersContainer {
    display: flex;
    justify-content: end;
    height: calc(100vh - 65px);
}

.pom {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height: 100vh;
    overflow: hidden;
    border: 2px solid grey;
    padding: 10px;

}

.user {
    margin: 10px;
    width: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
}

.avatar {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 100%, #24C6DC 100%);
    justify-content: center;
    align-items: center;
}

.username {
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 100%, #24C6DC 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px solid black;
}

.message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(187, 187, 187);
}

.gamerequests {
    padding: 2px;
    width: 100%;
}

.gamerequest {
    background-color: rgb(59, 130, 246);
    color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamerequest-actions {
    display: flex;
    align-self: flex-end;
}

.dugme {
    cursor: pointer;
}

.pi-check,
.pi-times {
    cursor: pointer;
}
 */
.chalange-player,body{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top;


}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh - 66px);
    background-color: rgb(25,27,31);
    width: 100%;
    display: flex; 
    background-position:top;
    justify-content:flex-end;   

}


.container {
    height: 100%;
    min-width: 300px;
    border:3px solid #1d3036;
    background: linear-gradient(360deg,#1d3036 0%, rgba(255, 255, 255, 0) 50%,#1d3036 100% );

  }
  .online-users{
    display: flex;
    flex-direction: column;
    padding: 5px; 

  }

  .user{
    height: 90px;
    width: 100%;
    background-color: #1e3036;
    margin-bottom: 5px;
    border-radius: 5px;
    border:2px solid #0a1113;
    padding: 2px;
    display: flex;
  }
  .avatar{
    height: 100%;
    aspect-ratio: 1/1;
    border:2px solid #0a1113;
    background-color: #c2c9a0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0a1113;
  }
  .username{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  .chalange-player{
    height: 50%;
    aspect-ratio: 1/1;
    background-image: url("https://localhost:7250/Resources/Images/cursor.png");
    cursor:pointer;
  }
  .news-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .news{
    height: 30%;
    width: 100%;
    margin-bottom: 1%;
    /* background-color:red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .div{
    height: 100%;
    width:200px;
    margin: 0px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    /* background-color: yellow; */
    background-image: url("https://localhost:7250/Resources/Images/wizard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: #0a1113 solid 5px; */

  }