body{
    height: 100vh;
    background-image: url("https://localhost:7250/Resources/Images/welcome-background.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex; 
    background-position:top;
  }