/* .buttonProfile {
    margin-left: 2px;
}
.button {
    margin-right: 4px;
} */

/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-sizing: border-box;
}

.container{
  position: absolute;
  width: 100%;
  z-index: 1;
}

header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.logo-p {
  cursor: pointer;
}

.logo-and-pages{
  width: 60%;
  display: flex;
  flex-direction: row;
}

.logo-and-line{
  min-width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
}

.vl{
  border-left: 3px solid rgb(235, 235, 235);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages{
  margin-left: 1rem;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-page, .rules-page, .cards-page{
  font-size: 20px;
}

.home-page:hover, .rules-page:hover, .cards-page:hover{
  color: #a4fff8;
  cursor: pointer;
}

button{
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button-login{
  background: none;
  padding: 9px 25px;
  border: none;
}

.button-signup{
  background: none;
  padding: 9px 25px;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 50px;
}

.button-login:hover{
  color: #52e4f8;
  transition: 0.3 ease 0s;
}

.button-signup:hover{
  background-color: rgba(255, 195, 135, 0.2);
  transition: 0.3 ease 0s;
}

.avatar {
  width: 50px;
  height: 50px;
  font-size: 26px;
  font-weight: 700;
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  aspect-ratio: 1/1;
  background-color: #9588a5;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-right: -30px;
  cursor: pointer;
}

.username{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.buttons-user{
  display: flex;
  flex-direction: row;
  height: 50px;
  background: none;
  border: 2px solid rgb(235, 235, 235);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 3.75rem;
}

.button-logout{
  margin-right: 10px;
  margin-left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.p-logout{
  margin-right: 10px;
  margin-left: 20px;
}

.buttons-user:hover{
  background-color: rgba(255, 195, 135, 0.2);
  transition: 0.3 ease 0s;
}