<!-- <p-menubar [model]="items">
        <ng-template pTemplate="end">
                <button class="button" (click)="onClick()"
                        *ngIf="authService?.userValue?.role==='Admin' ||
                               authService?.userValue?.role==='Player'"
                pButton label="Logout"></button>

                <button class="buttonProfile"
                        type="button" icon="pi pi-user" class="p-button-rounded"
                        *ngIf="authService?.userValue?.role==='Admin'"
                pButton pRipple></button>

                <button class="buttonProfile"
                        [routerLink]="['/profil', authService.userValue?.id]"
                        type="button" icon="pi pi-user" class="p-button-rounded"
                        *ngIf="authService?.userValue?.role==='Player'"
                pButton pRipple></button>

                <button class="button" (click)="onLogin()"
                        [routerLink]="['/login']" *ngIf="authService?.userValue?.role!=='Admin' &&
                                                         authService?.userValue?.role!=='Player'"
                pButton label="Login"></button>
        </ng-template>
</p-menubar> -->

<div class="container">
        <header>
                <div class="menu-toggle" (click)="showenChange()">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
                <div class="logo-and-pages logo-and-pages-{{isItShowen}}">
                        <!-- <div class="logo-and-line"> -->
                                <div class="logo">
                                        <div class="logo-slika"></div>
                                        <p class="logo-p" (click)="onLogo()">Knights&Diamonds</p>
                                </div>
                        <!-- </div> -->
                        <div class="pages">
                                <div class="page" (click)="onHome()">Home</div>
                                <div class="page" (click)="onRules()">Rules</div>
                                <div class="page" (click)="onCards()">Cards</div>
                                <div class="page" *ngIf="this.authService?.userValue?.role=='Admin'" (click)="onCreateCard()">Create</div>
                        </div>
                </div>
                <div class="buttons" *ngIf="pom==false">
                        <button class="button-login" [routerLink]="['/login']">Login</button>
                        <button class="button-signup" (click)="onSignUp()">Sign up</button>
                </div>
                <div class="buttons" *ngIf="pom==true">
                        <div class="buttons-user">
                                <button class="button-logout" (click)="onLogout()">log out</button>
                                
                                <div class="avatar" (click)="onProfile()">
                                        <p style="color: #4b3464;">{{user?.name[0]}}{{user?.surName[0]}}</p>
                                </div>
                        </div>
                </div>
        </header>
</div>