* {
    font-family: 'Roboto', sans-serif;
}

.card-create-container {
    width: 100%;
    height: 100%;
    padding-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    width: 334px;
    height: 452px;
    font-size: 26px;
}

.form-container {
    min-width: 600px;
    border: 2px solid #ced4da;
    border-radius: 6px;
    padding: 12px;
    flex-wrap: wrap;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    background-color: rgba(0, 0, 0, 0.1);
}

.card-view {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.small-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    color: white;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.data-field {
    min-width: 250px;
}

.button-span {
    margin-top: 1rem;
}

/* .card-creator{
    width: 100%;
    height: calc(100vh - 66px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-container
{ 
    height: 60%;
    width:300px;
    min-height: 360px;
} 

small
{
    color: rgb(173, 170, 170);
}
p,h2
{
    padding: 0px;
    margin: 0px;
}
.checkboxdiv
{
    display: flex;
    justify-content: start;
    align-items: center;
}
.form_field6
{
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 12px;
    color: #495057;
}
.form-container
{

    display: flex;
    flex-wrap: wrap;
}

.form
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form_field
{
    display: flex;
    flex-direction: column;
}
.dataField
{
    width: 250px;
}
.smallDataField
{
    width: 100px;
}
.file-upload
{
    display: none;
}
.atkdefspan
{
    display: flex;
    justify-content: space-between;
}
.atkdefcontainer
{
    display: flex;
    flex-direction: column;
}
.p-dropdown
{
    width: inherit;
}
.inputfile
{
    cursor: pointer;
}


.text-conteiner
{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap:break-word;
    max-width: 300px;
    min-width: 300px;
    border: #495057 2px solid;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.buttonspan
{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.card-view
{
    display: flex;
}
.form-layout
{
    height: 60%;

    display: flex;
    flex-direction: column;
    border: #495057 2px solid;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.nemampojmavise{
    background-color: red;
}  

@media (max-width: 625px) {
    .form-container{
      width: 320px;
    }
    .form-layout{
        margin-left: 0px;
    }
} */
/* .main-container{
    width: 100%;
    height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.card-creator{
    width: 60%;
    height: 80%;
    display: flex;
    
}
.card-container,.form-container{
}
.card-container{
    width: 310px;

}
.form-container{
    
}
.form_field
{
    display: flex;
    flex-direction: column;
} */