.card-container
{ 
    /* width: 160px;
    height: 300px;
    transform: scale(0.7) translate(-9px,-48px); */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
} 

small
{
    color: rgb(173, 170, 170);
}
p,h2
{
    padding: 0px;
    margin: 0px;
}
.checkboxdiv
{
    display: flex;
    justify-content: start;
    align-items: center;
}
.form_field6
{
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 12px;
    color: #495057;
}
.form-container
{
    display: flex;
    flex-wrap: wrap;
}
.card-creator
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
.form
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form_field
{
    display: flex;
    flex-direction: column;
}
.dataField
{
    width: 250px;
}
.smallDataField
{
    width: 100px;
}
.file-upload
{
    display: none;
}
.atkdefspan
{
    display: flex;
    justify-content: space-between;
}
.atkdefcontainer
{
    display: flex;
    flex-direction: column;
}
.p-dropdown
{
    width: inherit;
}
.inputfile
{
    cursor: pointer;
}


.text-conteiner
{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap:break-word;
    max-width: 300px;
    min-width: 300px;
    border: #495057 2px solid;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.buttonspan
{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.card-view
{
    display: flex;
}
.form-layout
{
    display: flex;
    flex-direction: column;
    border: #495057 2px solid;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.nemampojmavise{
    background-color: red;
}  

@media (max-width: 625px) {
    .form-container{
      width: 320px;
    }
    .form-layout{
        margin-left: 0px;
    }
}
