*{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.background {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("https://localhost:7250/Resources/Images/welcome-background.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex; 
    background-position: top;
}
.item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
h1 {
    font-weight: 900;
}
.item-form {
    display: flex;
    justify-content: center;
}
.field{
    /* padding: 1rem; */
    color: #231c3d;
}
.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration-field {
    color: #231c3d;;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-submit {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
    height: 2.5rem;
    background-image: linear-gradient(to right, #e8bd30 0%, #df6514  51%, #e24242  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 10px;
    border: 2px solid rgb(69, 69, 69);
    display: block;
    cursor: pointer;
}
.button-submit:hover{
    box-shadow: 0 0 10px #eee;
}
.button-submit-div {
    display: flex;
    justify-content: space-around;
}
