*{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://localhost:7250/Resources/Images/stena.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex; 
    /* background-position: top; */
    min-height: 100vh;
    background-attachment: fixed;

}
.item-container{
    margin-top:55px;
    height: fit-content;
    backdrop-filter: blur(50px); /* Adjust the blur amount as needed */
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3%;



    /* border: 2px solid black; */
}
.item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;

}
h1 {
    font-weight: 800;
}
.item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.field{
    /* padding: 1rem; */
    color: #231c3d;
    width: 220px;
}
.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration-field {
    color: #231c3d;;
    padding: 0.67rem;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-between;
}

.button-submit {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.67rem;
    margin-bottom: 1rem;
    width: 220px;
    height: 2.5rem;
    background-image: linear-gradient(to right, #4b9cad 0%, #2a5c7b  25%,#1a3c51  75%,#0b2f36  100%);
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 10px;
    border: 2px solid #17435e;
    display: block;
    cursor: pointer;
}
.button-submit:hover{
    box-shadow: 0 0 10px #eee;
}
.button-submit-div {
    display: flex;
    justify-content: space-around;
}
