/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.w-full{
    width: 100% !important;
}