*{
    font-family: 'Roboto', sans-serif;
    color: white;
}
label {
    color: white;
}
.background {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("https://localhost:7250/Resources/Images/welcome-background.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex; 
    background-position:top;
}
.item-container {
    width: 350px;
    /* box-shadow: 10px 5px 5px gray;
    border: 1px solid gray; */
    border-radius: 20px;
    margin-top: 100px;
}
.item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-weight: bolder;
}
.item-form {
    display: flex;
    justify-content: center;
}
.field {
    padding: 1rem;
}
.button-submit {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
    height: 2.5rem;
    background-image: linear-gradient(to right, #e8bd30 0%, #df6514  51%, #e24242  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    /* background-size: 200% auto; */
    color: white;            
    border-radius: 10px;
    border: 2px solid rgb(69, 69, 69);
    display: block;
}
.button-submit:hover{
    box-shadow: 0 0 10px #eee;
}
.button-submit-div {
    display: flex;
    justify-content: space-around;
}
.login-field {
    padding: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reg-field {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.reg-link {
    cursor: pointer;
}
.reg-link:hover{
    color: #d15f1c;
}
