<div class="background">
    <div class="item-container border-round">
      <div class="item-header">
        <h1>Login</h1>
      </div>
      <div class="item-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="login">
              <div class="login-field">
                <label>Email</label>
                <input class="field" formControlName="email" type="text" pInputText />
              </div>
              <div class="login-field">
                <label>Password</label>
                <input class="field" formControlName="password" type="password" pPassword pInputText/>
              </div>
              <div class="button-submit-div">
                <button class="button-submit p-button-rounded" pButton type="button" label="LOGIN" (click)="onSubmit()"></button>
              </div>
            </div>
            <div class="reg-field mt-5">
              <label class="mt-10 mb-2 text-align-center">You don't have an account? </label>
              <label class="font-bold cursor-pointer" (click)="onRegistration()" [routerLink]="['/register']"
                #hoverName
                (mouseenter)="onMouseEnter(hoverName)"
                (mouseleave)="onMouseOut(hoverName)">
                Register.
              </label>
            </div>
        </form>
      </div>
    </div>
</div>
