<div class="background" *ngIf="user">
    <div class="user-profile-full">
        <div class="user-profile-main">
            <div class="avatar">
                <img src="\assets\profile.png" class="avatar" alt="User-Profile-Image">
            </div>
            <div class="user-data">
                <div class="user-data-label">
                    <label>{{user.name}} {{user.surName}}</label>
                </div>
                <div class="user-data-label username">
                    <label>{{user.userName}}</label>
                </div>
                <div class="socials">
                    <i class="pi pi-instagram" style="font-size: 1.3rem;"></i>
                    <i class="pi pi-facebook" style="font-size: 1.3rem;"></i>
                    <i class="pi pi-discord" style="font-size: 1.3rem;"></i>
                    <i class="pi pi-github" style="font-size: 1.3rem;"></i>
                </div>
            </div>
        </div>
        <div class="user-profile-info-all">
            <div class="user-profile-info">
                <div class="header-info">
                    <p style="margin-bottom: 1rem;">Analytics</p>
                    <hr>
                </div>
                <div class="analytics-div" *ngIf="winsAndLosesCount != undefined">
                    <span class="info-span">
                        <p class="text-info">Games won</p>
                        <label class="info-labels">{{winsAndLosesCount.winsCount}}</label>
                    </span>
                    <span class="info-span">
                        <p class="text-info">Games lost</p>
                        <label class="info-labels">{{winsAndLosesCount.losesCount}}</label>
                    </span>
                </div>
                <br>
                <br>
                <div class="header-info">
                    <p style="margin-bottom: 1rem;">Information</p>
                    <hr>
                </div>
                <div class="information-div">
                    <div>
                        <span class="information-span">
                            <p class="text-info">Rank</p>
                            <label class="info-labels info-rank-email">ranked</label>
                        </span>
                        <span class="information-span">
                            <p class="text-info">Email</p>
                            <label class="info-labels info-rank-email">{{user.email}}</label>
                        </span>                    
                    </div>
                </div>
            </div>
            <div class="deck-create" *ngIf="this.user.mainDeckID!=0">
                <button class="button-deck-create" label="deck-create" (click)="redirectToDeck()">Deck</button>
            </div>
            <div class="deck-create" *ngIf="this.user.mainDeckID==0">
                <button class="button-deck-create" label="deck-create" (click)="createDeck()">Create deck</button>
            </div>
        </div>
    </div>
</div>