<div class="container">
    <div class="card-layout">
        <div class="big-card" style="position: relative;">
            <!-- *ngFor="let card of cards" -->
            <div class="big-card-text" style="position: absolute;">
                <h2>Card display</h2>
            </div>
            <app-card [card]="bigCard"></app-card>
        </div>
        <div class="deck-stats" *ngIf="stats!=undefined">
            <div class="deck-data-row">
                <div class="deck-data number-of-spell-cards">
                    <h2>S - {{stats.spellCardsCount}}</h2>
                </div>
                <div class="deck-data number-of-trap-cards">
                    <h2>T - {{stats.trapCardsCount}}</h2>
                </div>
                <div class="deck-data number-of-monster-cards">
                    <h2>M - {{stats.monsterCardsCount}}</h2>
                </div>
            </div>
            <div class="deck-data-row">
                <div class="deck-data exit-deck" (click)="goToHome()">
                    <i class="pi pi-arrow-circle-left" style="font-size: 1.5rem;" (click)="goToHome()"></i>
                </div>
                <div class="deck-data total-number-of-cards">
                    <h2>{{stats.allCardsCount}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="deck-container">
        <div class="cards-in-deck">
            <div class="mini-card" *ngFor="let card of cardsInDeck">
                <app-card [card]="card" (mouseover)="bigCard=card" (click)="removeCardFromDeck(card.id)">
                </app-card>
            </div>
        </div>
    </div>
    <div class="cards-and-search">
        <div class="search-container">
            <div class="form" [formGroup]="form">
                <div class="small-container">
                    <div class="form-field">
                        <p-dropdown class="" styleClass="w-full" formControlName="cardTypeID" [options]="cardTypes"
                            optionValue="type" optionLabel="type" (onChange)="onCardTypeChange()"></p-dropdown>
                    </div>
                    <div class="form-field">
                        <p-dropdown styleClass="w-full" formControlName="cardSorting" [options]="sortType"
                            optionValue="key" optionLabel="name" (onChange)="onCardSortChange()"></p-dropdown>
                    </div>
                    <div class="form-field">
                        <input class="data-field" (ngModelChange)="onTextChange($event)" formControlName="cardName"
                            placeholder="Card name" type="text" pInputText />
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-container">
            <ng-container *ngIf="this.cards!=undefined">

                <div style="display: grid;grid-template-columns: repeat(3, minmax(0, 1fr));">
                    <div class="mini-card" *ngFor="let card of cards.cards">
                        <app-card [card]="card" (mouseover)="bigCard=card" (click)="addCardToDeck(card.id)">
                        </app-card>
                    </div>
                </div>
                <p-paginator #paginator (onPageChange)="onPageChanged($event)"
                    [style]="{'background-color': 'transparent'}" styleClass="pag" [first]="setPage"
                    [rows]="cards.pageSize" [showPageLinks]="false" [totalRecords]="cards.totalItems"></p-paginator>
            </ng-container>
        </div>
    </div>
</div>