.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.pom{
    width: 130px;
    height: 200px;
    font-size: 9px;
    z-index: 1;
    /* -webkit-text-stroke: 0.5px black; */
}
